.kuaiXun-con TABLE{ width:90%; margin:0 auto; border-collapse:collapse; border:1px solid #bbb;} 
.kuaiXun-con TABLE TD{ border:1px solid #bbb; padding:0px 5px;} 
.kuaiXun-con TABLE TD P {
    text-indent: 0px; margin: 0px; font-size: 14px;}
.kuaiXun-con TABLE TH P {
    text-indent: 0px; margin: 0px; font-size: 14px;}

